body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #525252;
  font-size: 20px;
}

input {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

.passinfo {
  font-size: 18px;
  color: rgb(172, 169, 169);
}
